
/* ---- Custom CSS ------ */

body { -ms-overflow-style: none; }

::-webkit-scrollbar { 
    display: none;
}

/* Scrollable Table Data */
div.scroll_div {
	overflow: auto;
	scroll-behavior: smooth;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #222;
    color: #e6e6e6;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    font-weight: 600;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* ---- Number Input Without spinner ---- */
/* ---- Would Require Later ---- */
/*
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}*/

.lefty {
	text-align:left;
}

.righty {
	text-align:right;
}

.no_border {
	border: 0px;
}

.healthy_border {
	border-right: 3px solid black;
}

#mother_table {
	width: 100%;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 1;
	margin-top: -20px;
}

#primary_heading {
	width: 300px;
}

#primary_heading > table {
	width: 100%;
	border: 0px;
}

#secondary_heading {
	text-align:left;
	vertical-align: bottom;
	width: 14%;
}

#button_column {
	text-align:left;
	vertical-align: middle;
	padding-left: 450px;
}

.static_sub_header {
	padding: 1px 8px;
}

#search_row {
	background: #f4f9ff;
	height: 60px;
	border-bottom: 1px solid #000;
}

#search_row > th {
	border: 0px;
}

#search_field {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    min-width: 350px;
    margin-left: -105px;
    position: relative;
    z-index: 1;
    left: 50%;
    top: 275px;
}

#search_field:focus {
    background-color: #fff;
   	border: 1px solid #f4f9ff;
    box-shadow: 1px 1px 1px #888888;
}

#loader {
	min-width:50px;
	height:50px;
	z-index: 1;
	position: fixed;
	margin-left: -105px;
	left: 72%;
    top: 271px;
    visibility: hidden;
}

#live_search {
	width: 415px;
	height: 200px;
	overflow: auto;
	background-color: #f4f9ff;
	position: absolute;
	visibility: hidden;
}

#suggestionTable {
	width: 100%;
	border: 1px 1px 0px 1px solid #000;
	background-color: #f4f9ff;
}

#suggestionTable > tbody > tr > th {
	color: #077bef;
	font-size: 18px;
	border-top: 1px solid #000;
	margin-top: 2px;
}

#suggestionTable > tbody tr td a {
    display:block;
    width:100%;
    text-decoration: none;
}

#suggestionTable > tbody > tr > th:first-child, #suggestionTable > tbody > tr > td:first-child {
	border-left: 1px solid #000;
}

#suggestionTable > tbody > tr > th, #suggestionTable > tbody > tr > td {
	border-bottom: 1px solid #000;
}

#suggestionTable > tbody > tr > th, #suggestionTable > tbody > tr > td {
	border-right: 1px solid #000;
}

.result_row:hover {
	background-color: #d5ede8;
}

.no_match {
	background-color: #6b1f12;
	color: #fff;
	cursor: pointer;
}

.no_match:hover {
	background-color: #a02d19;
}

.btn_default, .btn_primary, .btn_info, .btn_warning, .btn_danger, .btn_success {
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.btn_default {
	background-color: #0e0f0f;
}

.btn_primary {
	background-color: #285e8f;
}

.btn_info {
	background-color: #5bc0de;
}

.btn_warning {
	background-color: #f0ad4e;
}

.btn_danger {
	background-color: #d9534f;
}

.btn_success {
	background-color: #449d44;
}

/* ------- Hovering ------ */
.btn_default:hover {
	background-color: #141616;
}
.btn_primary:hover {
	background-color: #27527a;
}
.btn_info:hover {
	background-color: #57a9c1;
}
.btn_warning:hover {
	background-color: #c4924a;
}
.btn_danger:hover {
	background-color: #a84745;
}
.btn_success:hover {
	background-color: #3b7c3b;
}

/* ----- Internet Explorer specifi rules ----- */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.SO_title1, .SO_title2, .SO_title3, .SO_title4, .SO_title5, .SO_titleX {
	    border: 1px solid black;
	}

	.SO_td1, .SO_td2, .SO_td3, .SO_td4, .SO_td5, .SO_td6, .SO_tdn {
    	border: 1px solid black;
	}

	.SO_tdtr1c0, .SO_tdtr1c1, .SO_tdtr1c2, .SO_tdtr2c0, .SO_tdtr2c1, .SO_tdtr2c2 {
    	border: 1px solid black;
	}

	.healthy_border {
		border-right: 3px solid black;
	}

	#search_field {
		top: 258px;
	}

	#loader {
		top: 256px;
	}
}
